body {
    font-family: sans-serif;
    text-align: center;
  }
  
  .container {
    width: 100%; /* Mengatur lebar container menjadi 100% */
    margin: 0 auto; /* Memposisikan container di tengah layar */
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #validationResult {
    margin-top: 10px;
    font-weight: bold;
    color: green; /* Ubah warna sesuai validasi */
  }
  
